
 #posters{
    display: flex;
 }

.fotos{
    width: 400px;
    height: 450px;
}

.texto{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.margen{
    margin: 20px 30px;
    padding: 5px;
}
